.about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  font-family: var(--main_font);
  text-align: center;
  position: relative;
}

.Get-in-touch-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  position: absolute;
  width: 100px;
  height: 30px;
  margin: 0;
  top: 0;
  right: 0;
}

.about-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
}
.about-links li {
  margin: 0 5px;
}

.about-job-title {
  margin-top: 0;
  font-weight: 700;
}

.page-title {
  align-items: center;
  font-size: 4.5rem;
  margin-bottom: 0;
}

.github svg,
.linkedin svg {
  width: 20px;
  height: 20px;
}

.mail svg {
  width: 25px;
  height: 25px;
}

.about-paragraph {
  width: 50%;
}

.about-links li > a {
  color: var(--main_color);
  text-decoration: none;
}

.about-links li > a:visited {
  color: var(--main_color);
  text-decoration: none;
}
.contacts {
  margin-top: 0;
  padding-left: 0;
}
.contacts li {
  margin-right: 30px;
  display: inline;
  list-style: none;
}

.contacts li > a {
  color: darkblue;
  text-decoration: none;
}

.contacts li > a:visited {
  color: darkblue;
  text-decoration: none;
}

@media (max-width: 768px) {
  .page-title {
    font-size: 2.25rem;
    margin-top: 70px;
  }
  .about-paragraph {
    width: 80%;
  }

  .contacts li {
    margin: 0;
    display: inline-block;
  }
}
