.project-box {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 0.375rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  /* width: max-content; */
  font-family: var(--main_font);
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 300px;
  margin-inline: 20px;
}

.project-image {
  object-fit: cover;
  padding: 0;
  height: 65%;
}

.project-content {
  padding: 20px;
  padding: 10px;
}

.project-title {
  margin-top: 0;
  font-size: 20px;
}

.project-technologies {
  font-weight: 500;
}

.project-technology {
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 0.375rem;
  padding: 4px;
  font-size: 14px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  padding: 0;
}

.project-repo-logo {
  position: absolute;
  top: -15px;
  left: -10px;
  background-color: black;
  border-radius: 100%;
  color: white;
  padding: 2px;
  width: 25px;
  height: 25px;
}

.project-link-logo {
  position: absolute;
  top: -15px;
  left: 25px;
  background-color: black;
  border-radius: 100%;
  color: white;
  padding: 2px;
  width: 25px;
  height: 25px;
}

.project-other-link-logo {
  position: absolute;
  top: -15px;
  left: 60px;
  background-color: white;
  /* border-radius: 100%; */
  color: white;
  /* padding: 2px; */
  width: 25px;
  height: 25px;
  margin-top: 2px;
  /* border-color: black; */
  /* border-style: solid; test */
}

@media screen and (max-width: 560px) {
  .project-box {
    width: 244px;
    height: 260px;
  }
  .project-content {
    padding: 8px;
  }

  .project-title {
    margin-bottom: 13px;
  }

  .project-technology {
    font-size: 10px;
  }
  .project-technologies {
    margin: 0;
  }
}
